# CONFIGURACIÓN DEL SERVIDOR HTTP
PORT=8000
ORIGIN=http://localhost:8000
BODY_SIZE_LIMIT=10M

# CONFIGURACIÓN DE LA BASE DE DATOS (POSTGRESQL 18)
DATABASE_URL="postgresql://dev_user:dev_password@localhost:5432/template_sveltekit_db?schema=public"
POSTGRES_PORT=5432
POSTGRES_DB=template_sveltekit_db
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password

# URL del servicio Gotenberg para renderizado y exportación de PDFs oficiales
GOTENBERG_API_URL=http://localhost:3000
